<h1>Messanger</h1>

<div class="form-group">
    <label for="url">Service Url:</label>
    <input id="url" type="text" class="form-control" [(ngModel)]="data.serviceUrl" placeholder="url">

    <label for="recipients">Recipients:</label>
    <input id="recipients" type="text" class="form-control" [(ngModel)]="data.recipients" placeholder="recipients">

    <label for="txt">Text:</label>
    <textarea class="form-control" rows="5" id="txt" [(ngModel)]="data.text"></textarea>

    <label for="messageId">Message Id:</label>
    <input id="messageId" type="text" class="form-control" [(ngModel)]="data.messageId" disabled>

    <br />
    <button type="button" class="btn btn-primary" (click)="sendMessage(event)">Send</button>
</div>